*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(backpic.jpg);
    background-size: cover;
    color: rgb(85, 57, 5);
    font-family: 'Tourney', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 80px;
}
h3 {
    font-size: 50px;
}

p {
  font-size: 30px;
}
.circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.circle {
    width: 250px;
    height: 250px;
    background-color: #b3a043;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    pointer-events: none;
}
#circle1.active {
    background-image: url(hare1.jpg);
    background-size: cover;
}
#circle2.active {
    background-image: url(hare4.jpg);
    background-size: cover;
}
#circle3.active {
    background-image: url(hare6.jpg);
    background-size: cover;
}
#circle4.active {
    background-image: url(hare.jpg);
    background-size: cover;
}

/*.circle.active { /* if the circle elemnt has class active, be tomato color
    background-color: tomato;
    background-image: url(themeGame.jpg);
    background-size: cover;
} */
.overlayModal {
    display: none; 
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* view port high */
    background-color: rgba(0, 0, 0, 0.4); /* Fallback color */
    justify-content: center;
    align-items: center;
  }
  .overlayModal.visible {
    display: flex;
  }
  .modal {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #888;
    width: 600px;
    position: relative;
    text-align: center;
}
.close {
    color: #aaa;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
.start,
.end {
    padding: 15px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid green;
    font-size: 14px;
    color: rgb(85, 57, 5);
    opacity: 0.7;
   
}
.start:hover,
.end:hover {
    background-color: rgb(235, 217, 21);
    opacity: unset;
}