*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(themeGame1.jpg);
    background-size: cover;
    color: rgb(85, 57, 5);
    font-family:'Courier New', Courier, monospace;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
h1 {
    font-size: 40px;
    font-family: 'Tourney', cursive;
}

p {
  font-size: 2rem;
}
.circles {
    display: flex;
    flex-wrap: wrap;
}
.circle {
    width: 70px;
    height: 70px;
    background-color: rgb(245, 245, 193);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    pointer-events: none;
}

.start {
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: rgb(85, 57, 5);
}
.end {
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: rgb(85, 57, 5); 
}
.circle.active { /* if the circle elemnt has class active, be tomato color*/
    background-color: tomato;
    background-image: url(themeGame.jpg);
}